<div class="container" style="text-align: center">
  <div style="margin: 5% ;">@if (edicion) {
    <h1>Actualizar Rol</h1>
  }@else {
    <h1>Registro de Roles</h1>
  }</div>
  <div>
    <form [formGroup]="form" (submit)="insertar()">
      <mat-form-field class="example-full-width" *ngIf="edicion">
        <mat-label>Código</mat-label>
        <input matInput formControlName="hid" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Rol</mat-label>
        <textarea matInput formControlName="hrol"></textarea>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Usuario</mat-label>
        <mat-select  formControlName="huser">
          @for (food of listauser; track food) {
          <mat-option [value]="food">{{ food.username }}</mat-option>
          }
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-flat-button class="custom-button">Registrar</button>
      </div>
    </form>
  </div>
</div>
