<div class="container" style="text-align: center;margin: 5%;">
  <div>
    @if (edicion) {
      <h1>Actualizar Usuarios</h1>
    }@else {
      <h1>Registro de Usuarios</h1>
    }
  </div>
  <div>
    <form [formGroup]="form" (submit)="insertar()">

      <mat-form-field class="example-full-width" *ngIf="edicion">
        <mat-label>ID</mat-label>
        <input matInput formControlName="hid" />
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width" >
        <mat-label>Nombre de Usuarios</mat-label>
        <input matInput formControlName="husername" />
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width" >
        <mat-label>Contraseña</mat-label>
        <input matInput formControlName="hpassword" />
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width" >
        <mat-label>Email</mat-label>
        <input matInput formControlName="hemail" />
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width" >
        <mat-label>Teleffono</mat-label>
        <input matInput formControlName="hphone" />
      </mat-form-field>
      <br />
      <mat-form-field class="example-full-width" >
        <mat-label>Activo</mat-label>
        <input matInput formControlName="henabled" />
      </mat-form-field>
      <br />
      

      
      
      <div>
        <button mat-flat-button class="custom-button">Registrar</button>
      </div>
    </form>
  </div>
</div>

