<div>
    <div style="text-align: center; margin: 5%;"><h1>Lista de Merchandising</h1></div>
    <div class="container">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


        <ng-container matColumnDef="c1">
          <th mat-header-cell *matHeaderCellDef>Código</th>
          <td mat-cell *matCellDef="let element"> {{element.id_merchandising}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="c2">
          <th mat-header-cell *matHeaderCellDef> Nombre </th>
          <td mat-cell *matCellDef="let element"> {{element.name_merchandising}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="c3">
          <th mat-header-cell *matHeaderCellDef> Descripcion </th>
          <td mat-cell *matCellDef="let element"> {{element.description_merchandising}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="c4">
          <th mat-header-cell *matHeaderCellDef> Precio </th>
          <td mat-cell *matCellDef="let element"> {{element.price_merchandising}} </td>
        </ng-container>
          <ng-container  matColumnDef="accion01"  >
            <th mat-header-cell *matHeaderCellDef > Eliminar </th>
            <td mat-cell *matCellDef="let element" (click)="eliminar(element.id_merchandising)"> 
              <mat-icon style="color:rgb(32, 8, 138)">delete</mat-icon>            
            </td>
          </ng-container>
          <ng-container matColumnDef="accion02">
            <th mat-header-cell *matHeaderCellDef> Actualizar </th>
            <td mat-cell *matCellDef="let element" > 
                <button mat-raised-button [routerLink]="['editarmercha',element.id_merchandising]">
                  <mat-icon style="color:rgb(32, 8, 138)">edit</mat-icon> 
                </button>          
            </td>
          </ng-container>
        

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>


    </div>


</div>

